@import url("./styles.css");

/* ----------- */

.login-form {
    font-family: 'Segoe UI';
    height: 100vh;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;


}
.container {
    width: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.2rem;
}

.logo {
    width: auto;
    max-width: 4rem;
}

.title {
    font-family: Roboto;
    font-size: 3rem;
    font-weight: 900;
}

.input {
    border: 1px solid #E5E5E5;
    border-radius: .3rem;

    padding: 1rem 2rem;
}

.btn {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 700;
    border-radius: 5rem;
    padding:1rem 2rem ;
}

.buttons {
    display: flex;
    justify-content: space-between;

    margin-block: 1.6rem;
}

/*  Media Queries  */ 

@media screen and (max-width: 768px)  {
    .container {
        width: 240px;
    }
    .title {
        font-size: 2rem;
    }
    .input, .buttons, .btn {
        font-size: 1.1rem;
    }

}