@import url("./styles.css");

/* ----------- */

.signup-form {
    font-family: 'Segoe UI';
    height: 100vh;
    padding: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;


}
.container {
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.logo-container {
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: auto;
    max-width: 4rem;
}

.title {
    /* font-family: Roboto; */
    font-size: 2.8rem;
}

.subtitle {
    font-weight: 700;
}

.text {
    font-size: 1.2rem;
    opacity: 0.6;
}

.input {
    border: 1px solid #E5E5E5;
    border-radius: .3rem;

    padding: 1rem 2rem;
}

.dob-container {
    margin-bottom: 1rem;
}

.dropdowns-container {
    margin-block: 1rem;
    display: flex;

    justify-content: space-between;
    align-items: center;
}
.dropdown {
    color: #00000099;
    padding: 1.5rem 3rem;
    border: 1px solid #00000033;
    border-radius: 3px;
    outline: none;
}

.btn {
    background-color: #1DA1F2;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

    font-weight: 700;
    border-radius: 5rem;
    padding:1rem 2rem ;
}

/*  Media Queries  */ 

@media screen and (max-width: 768px)  {
    .container {
        width: 240px;
    }
    .title {
        font-size: 2rem;
    }
    .subtitle {
        font-size: 1.4rem;
    }
    .text {
        font-size: 1rem;
    }
    .dropdown {
        padding: 0.6rem;
        max-width: 6rem;
    }
    .dob-container {
        margin-bottom: .6rem;
    }
}