* , *::after, *::before {
    margin: 0;    /* Reset margin */
    padding: 0; /* Reset padding */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body    {
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.4rem;
}

/* --------------- */

/* For WebKit browsers (like Chrome and Safari) */
::-moz-selection {
    background: transparent; /* or any other color */
    color: inherit; /* Keep the original text color */
}

img {
    width: 100%;
}

input {
    outline: none;
}

a {
    text-decoration: none;
}

/* ------------ */







/*  Media Queries  */ 

@media screen and (max-width: 768px)  {

}