@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
/* ------------ */
* , *::after, *::before {
    margin: 0;    /* Reset margin */
    padding: 0; /* Reset padding */
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body    {
    /* height: 100dvh; */
    font-family: "Roboto" , 'Segoe UI';
    font-size: 1.4rem;
    line-height: 1.5;
}

/* --------------- */

/* For WebKit browsers (like Chrome and Safari) */
::-moz-selection {
    background: transparent; /* or any other color */
    color: inherit; /* Keep the original text color */
}

img {
    width: 100%;
}

input {
    outline: none;
}

a {
    text-decoration: none;
    color: #1DA1F2;
}

li {
    list-style: none;
}
/* ------------ */



